html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Game Results
        link(rel="stylesheet", href="/styles/calculation.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    body
        .results-container
            h1 Game Results

            .position Congratulations, you are ##{position}!
            .score Total Score: #{score} points
            .game-info
                p Game Duration: #{duration}
                p Players: #{totalPlayers}
                
            button.dashboard-btn(onclick="window.location.href='/dashboard'") Return to Dashboard