html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Python's Aboard
        link(rel="stylesheet", href="styles/dashboard.css")

    body
        h1 Welcome to the Main Page
        p This is the main page of the application.
        
        p You are logged in as #{username}.
        p Your user ID is #{user_id}.

        button(type="button" onclick="location.href='/host'") Host Game
        button(type="button" onclick="location.href='/join'") Join Game
        button(type="button" onclick="location.href='/viewhistory'") Game History

        button(type="button" onclick="location.href='/logout'") Logout