html 
    head 
        title Python's Aboard
        link(rel="stylesheet", href="styles/mainpage.css")
    body
        h1 Welcome to the Main Page
        p This is the main page of the application.
        
        p If you want to register, 
            a(href="/register") click here
        p If you want to login, 
            a(href="/login") click here

        script(src="js/mainpage.js")